.section_nav_control_admin_modules{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1.2rem 1rem;
    border: 0.1rem solid var(--light-black);
    margin-bottom: 0.8rem;
    background-color: var(--milky);
}