@import '../../../styles/index.scss';

.review_block{
  &__description{
    color: var(--black);
    font-size: 1rem;
    margin: 1rem 0;
    white-space: pre-line;

    @media (max-width: $tablet) {
      max-height: 13rem;
      margin: 0.5rem 0;
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 0rem;
    }
    &::-webkit-scrollbar-track {
      background: var(--light-grey);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--dark-grey);
      border-radius: 10px;
    }
  
  }
}