.ant-select {
  height: 52px !important;
  font-size: 1rem !important;

  &-arrow {
    margin-right: 0.85rem !important;
  }

  &-selection-search {
    padding-left: 0.85rem !important;
  }

  &-focused .ant-select-selector {
    box-shadow: none !important;
    border: 2px solid var(--black) !important;
  }
}

.ant-select-selector {
  border-radius: 0.625rem !important;
  border: 1px solid var(--black) !important;
  padding: 0.9rem 1.5rem !important;
  font-size: 16px !important;
  box-shadow: none !important;

  &:hover {
    background: transparent !important;
  }
}

.ant-select-selection-item,
.ant-select-selection-search-input,
.ant-select-selection-placeholder {
  color: var(--grey) !important;
  font-family: Open Sans !important;
}

.ant-select-selection-search-input {
  caret-color: transparent !important;
}
