@import '../../../styles/index.scss';

.section {
  :global {
    .container {
      @include adaptiveValue('padding-bottom', 56, 40, 0, 1200, 390);
      @include adaptiveValue('padding-top', 64, 56, 0, 1200, 390);

      @media (min-width:$tablet){
        display: flex;
        align-items: start;
        justify-content: space-between;
      }
      @include adaptiveValue('gap', 139, 20, 0, 1200, 992);

    }
  }

  &__subtitle {
    font-weight: 600;
    line-height: 150%;
    position: relative;
    @include adaptiveValue('font-size', 16, 13, 0, 1200, 992);
    @include adaptiveValue('padding-left', 56, 30, 0, 1200, 992);
    margin-top: toRem(8);

    @media (min-width: $tablet) {
      flex: 0 1 22.416667%; /* 269/1200 */
    }
    @media (max-width: $tablet) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      @include adaptiveValue('width', 44, 22, 0, 1200, 992);
      height: toRem(2);
      top: em(12, 16);
      left: 0;
      background: var(--black);
      border-radius: toRem(8);
    }
  }

  &__wrap {
    @media (min-width: $tablet) {
      flex: 1 1 66%; /* 792/1200 */
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 44, 32, 0, 1200, 390);
    }
  }
}
