@import '../../../../styles/index.scss';

.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include adaptiveValue('padding-top', 48, 32, 0, 1200, 390);
  @include adaptiveValue('padding-bottom', 48, 24, 0, 1200, 390);
  @include adaptiveValue('padding-left', 48, 22, 0, 1200, 390);
  @include adaptiveValue('padding-right', 48, 22, 0, 1200, 390);
  border-radius: toRem(36);
  background-color: var(--milky);

  &__title {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 18, 16, 0, 1200, 390);
    }
  }

  &__text {
    white-space: pre-line;
    flex: 1 1 auto;
    
    &::-webkit-scrollbar {
      width: 4px;
      height: 0rem;
    }
    &::-webkit-scrollbar-track {
      background: var(--light-grey);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--dark-grey);
      border-radius: 10px;
    }

    &:not(:last-child) {
      margin-bottom: em(32, 16);
    }
    @media (min-width:$tablet){
      max-height: toRem(168);
      height: 100%;
      overflow-y: auto; 
    }
  }

  &__link {
    display: inline-block;
    @include adaptiveValue('font-size', 16, 14, 0, 1200, 390);
    font-weight: 600;
    color: var(--black);
    position: relative;
    padding-bottom: toRem(6);
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 24, 16, 0, 1200, 390);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: toRem(1);
      width: 100%;
      background-color: var(--black);
      transition: background-color 0.2s linear;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: toRem(16);

    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }

  &__button {
    @media (max-width:$mobileSmall){
      padding: toRem(17) toRem(10);
      min-width: 100%;
    }
  }
}
