@import '@/styles/index.scss';

.phone {
  grid-area: phone;
  position: relative;
  width: 100%;
}

.wrap {
  position: relative;
}

.error {
  font-size: 0.875rem;
  color: var(--red-for-error);
  position: absolute;
  top: calc(100% + 6px);
}
