.reviews_desktop{
  display: flex;
  gap: 2rem;
  
  &__tabs{
    display: flex;
    flex-direction: column;
    height: 22.5rem;
    gap: 1rem;
    min-width: 22rem;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    padding-left: .5rem;
    border-radius: .94rem;
    cursor: grab;
    &::-webkit-scrollbar{
      width: .5rem;
      border-radius: 0.5rem;
      background-color: var(--dark-grey);
    }
    &::-webkit-scrollbar-track{
      background-color: var(--light-grey);
      border-radius: 0.5rem;
    }
    &::-webkit-scrollbar-thumb
    {
      border-radius: .5rem;
      background-color: var(--dark-grey);
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
  }

  &__tab{
    display: flex;
    flex-direction: row-reverse;
    max-width: 22rem;
    padding: .75rem 2rem;
    background-color: var(--total-white);
    border-radius: .94rem;
    cursor: pointer;
    transition: all .2s linear; 
    //  щоб не стрибав бордер при переключенні табів
    border: 2px solid #ffffff00;
  }
  &__img{
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__status{
    color: var(--dark-grey);
  }

  &__text{
    padding: 2rem 2.7rem;
    max-width: 49.5rem;
    width: calc(100% - 24.5rem);
    border-radius: 1.25rem;
    background: var(--milky);
    cursor: grab;
  }

  &__text_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text_slider{
    min-height: calc(100% - 2rem);
  }

  &__active{
    padding-left: 3.5rem;
    border: 2px solid var(--orange);
    padding-top: 1.06rem;
    padding-bottom: 1.06rem;
  }
}

.slide_navigation{
  display: flex;
  justify-content: space-between;
  &__button{
    background: none;
    border: none;
    color: var(--orange);
    transition: color .2s linear;
    svg{
      fill: currentColor;
      height: 2rem;
      width: 2rem;
    }
  }
  &__disabled{
    color: var(--light-grey);
  }
}
