@import '../../styles/index';

.faq {
  :global {
    .container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue('padding-top', 56, 40, 0, 1200, 390);
      @include adaptiveValue('padding-bottom', 112, 80, 0, 1200, 390);
    }
  }
  .header {
    display: flex;
    justify-content: start;

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 34, 32, 0, 1200, 390);
    }
    @media (min-width: $mobile) {
      align-items: center;
      flex-direction: row-reverse;
    }
    @media (max-width: $mobile) {
      gap: toRem(24);
      flex-direction: column;
      align-items: start;
    }
    .column {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (min-width: $mobile) {
        flex: 0 1 65.916667%; /* 791/1200 */
      }
      @media (max-width: $mobile) {
        width: 100%;
      }
      :global {
        .heading1 {
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
      .search {
        display: flex;
        gap: toRem(20);
        position: relative;
        .input {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
          transform: translate(15%, 0px);
          border-radius: toRem(8);
          padding: toRem(10) toRem(20);
          border: toRem(1) solid var(--light-grey);
          &:focus {
            border: toRem(1) solid var(--dark-grey);
          }
          @media (max-width: $mobileSmall) {
            max-width: toRem(160);
          }

          &.show {
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
          }
        }
        svg {
          width: toRem(24);
          height: toRem(24);
          transition: opacity 0.3s;
          @media (any-hover: hover) {
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .subtitle {
      position: relative;
      font-weight: 600;
      line-height: 150%;
      padding-left: toRem(56);
      @media (min-width: $mobile) {
        flex: 0 1 33.916667%; /* 407/1200 */
        padding-right: toRem(20);
      }
      @media (max-width: $mobile) {
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        height: toRem(2);
        top: 50%;
        left: 0;
        background-color: var(--black);
        border-radius: toRem(8);
        width: toRem(44);
      }
    }
  }
  //========================================================================================================================================================
  .body {
    @media (min-width: $mobile) {
      padding-left: 33.916667%; /* 407/1200 */
    }
    ul {
      &:not(:last-child) {
        @include adaptiveValue('margin-bottom', 42, 32, 0, 1200, 390);
      }
    }
    .more {
      font-weight: 600;
      padding-bottom: toRem(8);
      border-bottom: toRem(2) solid var(--black);
      transition: color, 0.3s;
      @media (any-hover: hover) {
        &:hover {
          color: var(--dark-grey);
          border-color: var(--dark-grey);
        }
      }
    }
  }
}
