@import '@/styles/index.scss';

.country {
  grid-area: country;
}

.wrap {
  width: 100%;
  display: grid;
  gap: 0.4rem;
}

.error {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--red-for-error);
}