@import '../../styles/index.scss';

.ready_need_header {
  :global {
    .container {
      @include adaptiveValue('padding-top', 64, 36, 0, 1200, 390);
      @include adaptiveValue('padding-bottom', 64, 32, 0, 1200, 390);
    }
  }
  .ready_need_header_body {
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      justify-content: center;
    }
    &::after {
      content: '';
      width: 100%;
      background-color: var(--dark-grey);
      position: absolute;
      bottom: 0;
      @include adaptiveValue('bottom', -64, -32, 0, 1200, 390);
      left: 0;
      @media (min-width: $mobile) {
        height: toRem(1);
      }
      @media (max-width: $mobile) {
        height: toRem(2);
      }
    }
  }

  .ready_need_header_text {
    margin-right: toRem(64);

    @media (max-width: em(1050)) {
      margin-right: toRem(32);
    }

    @media (max-width: $tablet) {
      margin-right: 0;
      max-width: toRem(520);
    }
  }

  .ready_need_header_text h1 {
    font-size: toRem(52);
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    line-height: toRem(78);
    margin-bottom: toRem(16);

    @media (max-width: em(1050)) {
      font-size: toRem(44);
      line-height: toRem(70);
    }

    @media (max-width: $tablet) {
      text-transform: none;
      font-size: toRem(38);
    }

    @media (max-width: $mobile) {
      font-size: toRem(28);
      line-height: toRem(37.8);
    }
  }

  .ready_need_header_text p {
    line-height: toRem(24);
  }

  .ready_need_header_img {
    margin-left: toRem(64);

    @media (max-width: em(1050)) {
      margin-left: toRem(32);
    }

    @media (max-width: $tablet) {
      margin-left: 0;
      margin-bottom: toRem(28);
    }

    @media (max-width: $mobile) {
      margin-bottom: toRem(28);
    }
  }

  .ready_need_header_img img {
    max-width: toRem(588);
    border-radius: toRem(30);

    @media (max-width: em(1050)) {
      max-width: toRem(520);
    }

    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}
