@import '@/styles/index.scss';

.networks {
  grid-area: networks;

  &__wrap {
    display: flex;
    width: 100%;
    @media (min-width: $mobile) {
      gap: toRem(24);
    }
    @media (max-width: $mobile) {
      gap: toRem(4);
    }
  }

  &__input {
    width: 100%;

    &_logo {
      flex: 0 1 20.3125%; /* 78/384 */
      min-width: toRem(78);
      text-align: center;
      
      & > div {
        padding: 0.45rem 0.25rem !important;
      }

    }

    &_network {
      @media (min-width: $mobile) {
        flex: 0 1 73.4375%; /* 282/384 */
      }
      width: 100%;
      border-radius: toRem(10);
      border: 1px solid var(--black);
      background: var(--total-white);
      padding: 0.9rem 1.5rem;
  
      &::placeholder {
        color: var(--dark-grey);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
      }

      &:hover {
        background: transparent;
      }

      &:focus {
        background: var(--total-white);
        outline: 2px solid var(--black);
        outline-offset: -2px;
      }
    }
  }

  &__error {
    font-size: 0.875rem;
    color: var(--red-for-error);
    margin-top: -0.5rem;
  }
}


