.social-network-logo {
  .ant-select-selector {
    padding: 0 0.7rem !important;
  }

  .ant-select-selection-item {
    padding-inline-end: 0;
    padding: 0.5rem;
    margin-top: 7px;
  }

  .ant-select {
    width: 78.4px;
  }

  .ant-select-selection-search {
    padding-left: 0;
  }

  .ant-select-arrow {
    margin-right: 3px;
  }
}