@import '../../../styles/index.scss';

.about {
  :global {
    .container {
      @include adaptiveValue('padding-top', 56, 40, 0, 1200, 390);
      @include adaptiveValue('padding-bottom', 56, 40, 0, 1200, 390);
    }
  }
  &__body {
    display: flex;
    @include adaptiveValue('gap', 92, 32, 0, 1200, 992);

    @media (min-width: $tablet) {
      justify-content: space-between;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    min-height: 100%;
    @include adaptiveValue('gap', 20, 15, 0, 1200, 390);
    @media (min-width: $tablet) {
      flex: 1 0 26.333333%; /* 316/1200 */
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: em(389)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__tab {
    min-width: toRem(112);
    min-height: toRem(112);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include adaptiveValue('gap', 10, 2, 0, 1200, 390);
    padding: toRem(22) toRem(22) toRem(22) toRem(22);
    border-radius: toRem(20);
    background-color: var(--milky);
    color: var(--black);
    cursor: pointer;
    font-weight: 600;
    transition:
      color,
      box-shadow 0.2s linear;
    &:hover {
      color: var(--orange);
    }
    @media (min-width: $tablet) {
      height: toRem(148);
    }
    @media (max-width: $mobileSmall) {
      padding: toRem(18) toRem(10) toRem(10) toRem(10);
      gap: 0;
    }

    svg {
      fill: currentColor;
      @include adaptiveValue('width', 54, 38, 0, 1200, 390);
      @include adaptiveValue('height', 54, 38, 0, 1200, 390);
    }
  }

  &__active {
    color: var(--orange);
    box-shadow: 0px 4px 20px 0px rgba(14, 14, 14, 0.1);
  }

  &__items {
    @media (min-width: $tablet) {
      flex: 0 1 66%; /* 792/1200 */
      min-height: 100%;
    }
  }
}
