@import '@/styles/index.scss';

.volunteer {
  grid-area: days;

  &__inputs {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: toRem(24);
    row-gap: toRem(24);

    &:not(:first-of-type) .volunteer__title {
      display: none;
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;

      &:not(:first-of-type) .volunteer__title {
        display: block;
      }
    }
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.875rem;
  }

  &__day {
    width: 100%;
  }

  &__time {
    width: 100%;
    display: flex;
    gap: toRem(24);
  }

  &__title {
    font-size: toRem(14);
    line-height: 100%;
  }

  &__input {
    &_days {
      width: 100%;
    }

    &_time {
      flex: 0 1 50%;
      width: 100%;
    }
  }
}

.button {
  &_add {
    display: flex;
    align-items: center;
    gap: 0.563rem;
  }

  &_remove {
    display: flex;
    align-items: center;
    gap: 0.563rem;
    margin-top: 0.3rem;
    color: var(--red-for-error);
  }
}

.error {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--red-for-error);
  margin-top: -0.5rem;
}
