@import '@/styles/index.scss';

.volunteer {
  grid-area: days;

  &__inputs {
    display: flex;
    width: 100%;
    gap: toRem(24);
    &:not(:first-of-type) .volunteer__title {
      display: none;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      &:not(:first-of-type) .volunteer__title {
        display: block;
      }
    }
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.875rem;
  }
  &__column {
    flex: 0 1 50%;
  }
  &__columns {
    flex: 0 1 50%;
    display: flex;
    gap: toRem(24);
  }

  &__title {
    font-size: toRem(14);
    line-height: 100%;

    &_wrap {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 24.063rem 11.25rem 11.25rem;
    }
  }

  &__button {
    &_add {
      display: flex;
      align-items: center;
      gap: 0.563rem;
    }
  }

  &__input {
    &_days {
      width: 100%;
    }

    &_time {
      flex: 0 1 50%;
      width: 100%;
    }
  }
}
