@use 'sass:math';
// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import './mixins.scss';

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em(
  $containerWidth
); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Обмежуючий контейнер ======================================================================================================================================================================================================================
.container {
  @if ($maxWidthContainer>0) {
    max-width: toRem($containerWidth);
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    @if ($maxWidthContainer>0) {
      padding: 0 toRem(math.div($containerPadding, 2));
    } @else {
      @include adaptiveValue(
        'padding-left',
        math.div($containerPadding, 2),
        15
      );
      @include adaptiveValue(
        'padding-right',
        math.div($containerPadding, 2),
        15
      );
    }
  }
}

.admin_container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Це класи з бібліотеки React-Select, напряму не виходить налаштувати падінги, тому був доданий цей код, прошу не видаляти, поки не буде знайдене інше рішення */
.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer  {
  padding: 8px 8px 8px 0 !important;
}

/* Це класи з бібліотеки antd, стилі для DatePicker для форм */
.ant-picker-input input::placeholder,
.ant-picker .ant-picker-input > input {
  color: var(--dark-grey) !important;
  font-family: Open Sans !important;
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 150% !important;
}

.ant-picker:hover, .ant-picker-focused {
  box-shadow: none !important;
  border: 1px solid var(--black) !important;
}

/* іконка календаря в інпуті */
.anticon {
  color: var(--dark-grey) !important;
  font-size: 1rem;
}

/* налаштування стилів для календаря */
.ant-picker-dropdown .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: var(--orange-for-states) !important;
}

.ant-picker-dropdown  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: var(--orange-for-states);
}

.ant-picker-dropdown .ant-picker-today-btn {
  color: var(--orange-for-states);
}

.ant-picker-dropdown .ant-picker-today-btn:hover {
  color: var(--dark-grey);
}

.css-k7wtyt-control:hover {
  box-shadow: none !important;
  border: 1px solid var(--black) !important;
}

.css-pu7pq9-control:hover,
.css-pu7pq9-control:focus-within {
  box-shadow: none !important;
  border: 1px solid var(--black) !important;
}