@use 'sass:math';

// Підключення змінні ===========================================================================================================================================================================================================================================================================
@import 'variables';

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Open Sans', sans-serif;
$fontNunito: 'Nunito', sans-serif;

$fontSize: toRem(16); // де 16(px) - розмір шрифту за замовчуванням з макету

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em(
  $containerWidth
); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  background-color: var(--bg);
}
// Оболонка #root ============================================================================================================================================================================================================================================================================================================================================================================================================================================
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

// Обмежуючий контейнер ======================================================================================================================================================================================================================
.container {
  @if ($maxWidthContainer>0) {
    max-width: toRem($containerWidth);
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    @if ($maxWidthContainer>0) {
      padding: 0 toRem(math.div($containerPadding, 2));
    } @else {
      @include adaptiveValue(
        'padding-left',
        math.div($containerPadding, 2),
        15
      );
      @include adaptiveValue(
        'padding-right',
        math.div($containerPadding, 2),
        15
      );
    }
  }
}
.admin_container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

//========================================================================================================================================================

a {
  transition: color 0.3s;
}
a:hover {
  color: var(--orange);
}
a:hover::after {
  background-color: $fontNunito;
}

/* Texts style */
.heading1 {
  font-family: $fontNunito;
  @include adaptiveValue('font-size', 52, 36);
  font-weight: 600;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: em(48, 52);
  }
}

.heading2 {
  font-family: $fontNunito;
  @include adaptiveValue('font-size', 40, 28);
  font-weight: 600;
}

.bunner-title {
  font-family: $fontNunito;
  @include adaptiveValue('font-size', 24, 20);
  font-weight: 700;
  line-height: 130%;
}

.review-title {
  font-family: $fontNunito;
  @include adaptiveValue('font-size', 24, 20);
  font-weight: 600;
}

.cards-header {
  font-size: toRem(18);
  font-weight: 600;
}
// .elements-header {
//   font-family: $fontNunito;
//   font-size: 1rem;
//   font-weight: 600;
// }

.text {
  line-height: 150%;
}
