@import './variables.scss';

html{
  font-size: 16px;
}

*,
*::before,
*::after{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: $black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

a:hover{
  color: $orange;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

// Texts style
.heading1{
  font-family: $nunito;
  font-size: 3.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading2{
  font-family: $nunito;
  font-size: 2.5rem;
  font-weight: 600;
}

.bunner-title{
  font-family: $nunito;
  font-size: 1.5rem;
  font-weight: 700;
}

.review-title{
  font-family: $nunito;
  font-size: 1.5rem;
  font-weight: 600;
}

.cards-header{
  font-family: $open-sans;
  font-size: 1.125rem;
  font-weight: 600;
}

.elements-header{
  font-family: $open-sans;
  font-size: 1rem;
  font-weight: 600;
}

