@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

:root {
	/* colors */
	--bg: #F1F1F1;
  --black: #0E0E0E;
  --light-black: #2E2E2E;
  --dark-grey: #505050;
  --light-grey: #D9D9D9;
  --black-for-banners: rgba(30, 30, 30, 0.60);
  --milky: #F9F9F9;
  --total-white: #fff;
  --orange: #FC936D;
  --orange-for-states: #FFA787; 

	/* fonts */
	--nunito: 'Nunito', sans-serif;
	--open-sans: 'Open Sans', sans-serif;
}
