/* Підключення шрифтів  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

:root {
  /* colors */
  --bg: #f1f1f1;
  --black: #0e0e0e;
  --light-black: #2e2e2e;
  --dark-grey: #505050;
  --light-grey: #d9d9d9;
  --black-for-banners: rgba(30, 30, 30, 0.6);
  --milky: #f9f9f9;
  --total-white: #fff;
  --orange: #fc936d;
  --orange-for-states: #ffa787;
  --red-for-error: #ff0000;
  
  /* fonts */
  --font-nunito: 'Nunito', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
}
