@import '../../styles/index';

.volunteer {
  position: relative;
  margin-bottom: toRem(32);
  &::before,
  &::after {
    position: absolute;
    content: '';
    height: toRem(1);
    width: 100%;
    background: var(--black);
		@media (max-width: $mobileSmall) {
			height: toRem(2);
		}
  }
  :global {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: toRem(54);
      @include adaptiveValue('gap', 54, 24, 0, 1200, 390);
      @include adaptiveValue('padding-top', 24, 20, 0, 1200, 390);
      @include adaptiveValue('padding-bottom', 24, 20, 0, 1200, 390);
      @media (max-width: em(389)) {
        flex-direction: column;
      }
    }
  }
}

.volunteer_text {
  white-space: nowrap;
  font-family: var(--nunito);
  @include adaptiveValue('font-size', 24, 16, 0, 1200, 390);
  font-weight: 600;
  line-height: 150%;
}