
.translation{
   display: block;
   position: relative;

   .list{
      display: none;
      position: absolute;

      li{
         color: black;
      }
      li.active{
         color: red;
      }
   }

   .list.visible{
      display: flex;
      flex-direction: column;
   }
}