@import '@/styles/index.scss';

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}

.item {
  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  align-items: center;
  align-self: start;
  column-gap: 1.25rem;
  
  &_header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &_wrap {
    display: flex;
    align-items: center;
    gap: toRem(14);
  }

  &_img {
    width: toRem(32);
    height: toRem(32);
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    background: var(--bg);
    padding: 0.5rem;
  }

  &_title {
    font-weight: 600;
    padding-right: 0.7rem;
  }

  &_btn {
    transition: transform 0.7s;

    &_rotate {
      transform: rotate(180deg);
    }
  }

  &_desc {
    margin-top: toRem(12);
    font-size: 0.875rem;
    line-height: 130%;
  }
}

.address {
  padding: 1.5rem;

  @media (max-width: $mobileSmall) {
    padding: 1.5rem 2rem;
  }

  &_title {
    font-size: 1.125rem;
    line-height: 150%; 
  }

  &_subtitle {
    color: var(--orange);
    font-weight: 600;
    margin: 2rem 0 0.5rem;
  }

  &_text {
    font-size: 0.875rem;
    line-height: 130%;
  }
}