@import '../../../styles/index.scss';

.networks {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.438rem;

    @media (max-width: $mobile) {
      gap: 0.25rem;
    }
  }

  &__input {
    &_logo {
      text-align: center;
    }

    &_network {
      width: 17.625rem;
    }
  }
}