@import '../../../styles/index';

.item {
  position: relative;
  @include adaptiveValue('padding-bottom', 22, 24, 0, 1200, 390);
  cursor: pointer;

  &:not(:first-child) {
    @include adaptiveValue('padding-top', 22, 24, 0, 1200, 390);
  }

  &::after {
    position: absolute;
    content: '';
    height: toRem(1);
    width: 100%;
    @include adaptiveValue('margin-top', 22, 24, 0, 1200, 390);
    border-radius: toRem(4);
    background: var(--dark-grey);
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__title,
  &__descr {
    line-height: 150%;
    color: var(--black);
  }

  &__title {
    font-weight: 600;
  }

  &__content {
    &_open,
    &_closed {
      display: grid;
      transition: grid-template-rows 500ms;
    }

    &_open {
      grid-template-rows: 1fr;
    }

    &_closed {
      grid-template-rows: 0fr;
    }
  }

  &__descr {
    overflow: hidden;

    .text {
      @include adaptiveValue('margin-top', 18, 16, 0, 1200, 390);
      @include adaptiveValue('padding-left', 39, 12, 0, 1200, 390);
      @include adaptiveValue('padding-right', 70, 12, 0, 1200, 390);
    }
  }

  &__icon {
    transform: translate(0%, 0%) rotate(-90deg);

    &_open,
    &_closed {
      width: toRem(28);
      height: toRem(28);
      transition: all 0.25s ease-in-out;
    }

    &_open {
      transform: translate(0%, 0%) rotate(-90deg);
    }
  }
}
