@import '../../../styles/index';
.about {
  cursor: grab;
  display: flex;
  flex-direction: column;
  @include adaptiveValue('gap', 112, 80, 0, 1200, 390);
  &:last-child {
    align-items: center;
    @media (max-width: $mobile) {
      button {
        min-width: 100%;
      }
    }
  }
}