@import '../../../styles/index';

.orange {
  background: var(--orange);
  &:hover,
  :focus {
    background: var(--orange-for-states);
    color: var(--black);
  }
  &:active {
    font-weight: 700;
  }
}

.white {
  border-radius: toRem(10);
  border: 2px solid var(--orange);
  background: transparent;
  &:hover,
  :focus {
    transition: all 0.3s;
    border: 2px solid var(--orange-for-states);
    color: var(--light-black);
  }
  &:active {
    font-weight: 700;
    color: var(--black);
  }
}
// додав padding-left та right якщо тексту буде багато щоб він не торкався крайов кнопки
.smaller {
  max-width: toRem(123);
  width: 100%;
  padding: toRem(12) toRem(10);
}

.small {
  max-width: toRem(180);
  width: 100%;
  padding: toRem(12) toRem(10);
}

.standard {
  max-width: toRem(204);
  width: 100%;
  padding: toRem(12) toRem(10);
}

.medium {
  max-width: toRem(300);
  width: 100%;
  padding: toRem(16) toRem(10);
}

.large {
  max-width: toRem(336);
  width: 100%;
  padding: toRem(22) toRem(10);
}

.Xlarge {
  outline-color: var(--orange);
  max-width: toRem(366);
  width: 100%;
  padding: toRem(24) toRem(10);
}

.btn, .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  text-decoration: none;
  @include adaptiveValue('font-size', 16, 14, 1, 1200, 390);
  font-weight: 600;
  line-height: 1rem;
  border-radius: toRem(8);
  outline: none;
  color: var(--black);

  transition: background-color 0.5s ease-in;
  @media (max-width: $mobile) {
    border-radius: toRem(10);
  }
}

.link:focus{
  outline: auto;
}