@import '@/styles/index.scss';

.languages {
  grid-area: languages;
}

.language {
  width: 100%;
  display: flex;
  align-items: center;
  @include adaptiveValue('gap', 23, 16, 0, 1200, 390);

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__input {
    width: 100%;
  }

  &__button {
    &_add {
      display: flex;
      align-items: center;
      gap: 0.563rem;
    }
  }
}
