@import '@/styles/index.scss';

.comment {
  grid-area: comment;
  width: 49.563rem;

  @media (max-width: $tablet) {
    width: 46.25rem;
  }

  @media (max-width: $mobile) {
    width: 22.875rem;
  }

  @media (max-width: $mobileSmall) {
    width: 18rem;
  }
}