@import '../../../styles/index';

.content {
  display: flex;
  flex-direction: column;
}
//========================================================================================================================================================

.header {
  flex: 0 1 59.416667%; /* 713/1200 */
  display: flex;
  justify-content: start;

  &:not(:last-child) {
    @include adaptiveValue('margin-bottom', 32, 28, 0, 1200, 390);
  }
  @media (min-width: $mobile) {
    align-items: center;
    flex-direction: row-reverse;
  }
  @media (max-width: $mobile) {
    gap: toRem(24);
    flex-direction: column;
    align-items: start;
  }

  .title {
    @include adaptiveValue('font-size', 40, 28, 0, 1200, 390);
    @media (min-width: $mobile) {
      flex: 0 1 59.416667%; /* 713/1200 */
    }
  }
  .subtitle {
    position: relative;
    font-weight: 600;
    line-height: 150%;

    @include adaptiveValue('padding-left', 56, 39, 0, 1200, 390);
    @include adaptiveValue('font-size', 16, 14, 0, 1200, 390);
    @media (min-width: $mobile) {
      flex: 0 1 40.5%; /* 486/1200 */
      padding-right: toRem(20);
    }
    @media (max-width: $mobile) {
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      height: toRem(2);
      top: 50%;
      left: 0;
      background-color: var(--black);
      border-radius: toRem(8);
      @include adaptiveValue('width', 44, 24, 0, 1200, 390);
    }
  }
}

//========================================================================================================================================================
.list {
  @media (min-width: $mobile) {
    padding-left: 40.5%; /* 486/1200 */
  }

  .item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: toRem(24);
    }

    h3 {
      font-family: var(--font-nunito);
      @include adaptiveValue('font-size', 24, 16, 0, 1200, 390);
      font-weight: 600;
      position: relative;
      line-height: 150%;

      &:not(:last-child) {
        @include adaptiveValue('margin-bottom', 16, 8, 0, 1200, 390);
      }

      &::before {
        align-self: end;
        content: attr(data-count);
        margin-left: em(10, 24);
        margin-right: em(10, 24);
      }
    }
    &__list {
      position: relative;
      line-height: 150%;
      h4 {
        padding-left: toRem(24);
        &:not(:last-child) {
          @include adaptiveValue('margin-bottom', 8, 6, 0, 1200, 390);
        }
        &::before {
          content: '';
          position: absolute;
          border-radius: 50%;
          width: toRem(3);
          height: toRem(3);
          top: em(12,16);
          left: toRem(10);
          background-color: var(--black);
        }
      }
      li {
        padding-left: toRem(34);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          border-radius: toRem(4);
          width: toRem(4);
          height: toRem(1);
          top: em(12,16);
          left: toRem(24);
          background-color: var(--black);
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
}
