@import '../../styles/index';

.wrapper {
  :global {
    .container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue('padding-top', 75, 40, 0, 1200, 390);
      @include adaptiveValue('padding-bottom', 76, 80, 0, 1200, 390);
      @include adaptiveValue('gap', 112, 80, 0, 1200, 390);
      &:last-child {
        align-items: center;
        @media (max-width: $mobile) {
          button {
            min-width: 100%;
          }
        }
      }
    }
  }
}
