.wrapper {
  &__paragraph {
    display: grid;
    gap: 24px;
  }

  &__accordion {
    display: grid;
    gap: 24px;
  }
}

.accordion {
  display: grid;
  grid-template-columns: minmax(204px, 1fr) minmax(486px, 1fr);
  grid-template-areas: 'title text' 'line line';
  gap: 24px;

  &__title {
    grid-area: title;
  }

  &__text {
    grid-area: text;
  }

  &__line {
    grid-area: line;
    width: 100%;
    height: 1px;
    background: var(--black);
  }
}