.radio {
  &__label {
    width: 100%;
    border-radius: 0.625rem;
    padding: 1.125rem 0;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__input:checked + label {
    background: var(--orange-for-states);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
  }
}