@import '../../../styles/index';
.projects {
  :global {
    .container {
      @include adaptiveValue('padding-top', 64, 30);
      
    }
  }
  .body {
    &:not(:last-child) {
      margin-bottom: toRem(64);
    }
  }
  .actions {
    width: 100%;
    @media (min-width: $mobile) {
      padding-left: 40.5%;
    }
    
    @media (max-width: $mobile) {
      text-align: center;
      a {
        min-width: 100%;
      }
    }
  }
}
//========================================================================================================================================================

.swipers_header {
  display: flex;
  position: relative;
  @include adaptiveValue('padding-bottom', 75, 40, 0, 1200, 390);
  @include adaptiveValue('gap', 100, 50, 0, 1200, 992);
  @media (min-width: em(1170)) {
    &::after {
      content: '';
      align-self: center;
      position: absolute;
      width: 200%;
      height: 100%;
      left: -162%;
      background-color: var(--bg);
      z-index: 1;
    }
  }
  @media (max-width: em(1170)) {
    flex-direction: column-reverse;
  }
}
//========================================================================================================================================================

.swiper_content {
  position: relative;
  width: 100%;
  align-self: center;
  z-index: 3;
  @media (min-width: em(1170)) {
    max-width: 32.25%;
  }
}
//========================================================================================================================================================

.swiper_image {
  width: 100%;
  height: 100%;
  user-select: none;
  @media (min-width: em(1170)) {
    max-width: 53%; /* 636/1200 */
  }
}
//========================================================================================================================================================

.swiper_about {
  @include adaptiveValue('padding-top', 75, 40, 0, 1200, 390);
  :global {
    .swiper {
      @media (max-width:$pc){
        margin-right: toRem(-22);
        margin-left: toRem(-22);
  
        padding-right: toRem(22);
        padding-left: toRem(22);
      }

    }
  }
}

//========================================================================================================================================================

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  bottom: toRem(-40);
  @include adaptiveValue('padding-left', 20, 10);
  @include adaptiveValue('padding-right', 20, 10);
  @include adaptiveValue('bottom', -40, -24);
  .arrow_prev,
  .arrow_next {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transition: all 0.3s;
    @include adaptiveValue('padding', 19, 10);
    background-color: var(--bg);
    box-shadow: 0px 4px 30px 0px rgba(14, 14, 14, 0.15);
    border-radius: toRem(15);
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 4px 30px 0px rgba(14, 14, 14, 0.3);
        background-color: var(--total-white);
        &.arrow_next {
          svg {
            transform: translate(toRem(4), 0px);
          }
        }
        &.arrow_prev {
          svg {
            transform: translate(toRem(-4), 0px);
          }
        }
      }
    }
    svg {
      transition: all 0.3s;
      fill: var(--black);
      @include adaptiveValue('height', 40, 30);
      @include adaptiveValue('width', 40, 30);
    }
    &:disabled {
      opacity: 0.6;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
//========================================================================================================================================================
