@import '../../styles/index';

.footer {
  box-shadow: 0px -4px 10px 0px rgba(14, 14, 14, 0.05);
  line-height: 100%;
  @media (min-width: $mobileSmall) {
    background-color: var(--milky);
  }
  //========================================================================================================================================================
  :global {
    .container {
      display: flex;
      flex-direction: column;
      @include adaptiveValue('padding-top', 40, 28, 0, 1200, 390);
      @include adaptiveValue('gap', 64, 42, 0, 1200, 390);
    }
  }
  //========================================================================================================================================================
  .top {
    display: flex;
    @include adaptiveValue('gap', 64, 42, 0, 1200, 992);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  //========================================================================================================================================================
  .bottom {
    border-top: toRem(1) solid var(--dark-grey);
    display: flex;
    flex-wrap: wrap-reverse;
    padding-top: toRem(24);
    @include adaptiveValue('padding-bottom', 40, 28, 0, 1200, 390);
    gap: toRem(42);
    @media (min-width: $mobile) {
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }
  //========================================================================================================================================================

  .logo {
    display: flex;
    flex: 1 1 auto;
    @include adaptiveValue("gap", 63, 40,1,380,320);
    @media (max-width: $mobile) {
      
      width: 100%;
      justify-content: space-between;
    }
    a {
      display: inline-flex;
      svg {
        max-width: toRem(132);
        max-height: toRem(48);
        transition: opacity 0.3s;
        @media (any-hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  //========================================================================================================================================================
  .links {
    display: flex;
    flex: 0 1 74.5%; /* 894/1200 */
    @include adaptiveValue('gap', 93, 40, 0, 1200, 992);
  }

  //========================================================================================================================================================
  .nav {
    display: flex;
    flex: 1 1 auto;
    gap: toRem(30);
    
      justify-content: space-evenly;
      
    

    @include adaptiveValue('font-size', 18, 16, 0, 1200, 390);
    &__column {
      @media (min-width: $mobile) {
        h2 {
          font-weight: 600;
          position: relative;
          padding-left: toRem(26);
          &:not(:last-child) {
            margin-bottom: toRem(28);
          }
          &::before {
            content: '';
            position: absolute;
            width: toRem(18);
            height: toRem(1);
            border-radius: toRem(1);
            top: em(9, 18);

            left: 0;
            background-color: var(--black);
          }
        }
      }
      @media (max-width: $mobile) {
        h2 {
          display: none;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: toRem(24);
      }
    }
  }
  //========================================================================================================================================================
  .button {
    @media (min-width: $mobile) {
      min-width: toRem(213);
      &:not(:last-child) {
        margin-bottom: toRem(24);
      }
    }
    @media (max-width: $mobile) {
      width: 100%;
      max-height: fit-content;
    }
  }
  //========================================================================================================================================================
  .contacts {
    line-height: 100%;
    @media (min-width: $mobile) {
      &__list {
        display: flex;
        flex-direction: column;
        gap: toRem(16);
      }
    }
    @media (max-width: $mobile) {
      &__item {
        padding: toRem(14) toRem(30);
        border: toRem(2) solid var(--light-grey);
        border-radius: toRem(16);
        &:not(:last-child) {
          margin-bottom: toRem(20);
        }
      }

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(10);
        &_text {
          display: flex;
          flex-direction: column;
          gap: toRem(8);
          font-weight: 600;
          span {
            color: var(--dark-grey);
            font-size: toRem(14);
          }
        }
        svg {
          width: toRem(27);
          height: toRem(27);
        }
      }
    }
    @media (max-width: em(360)) {
      &__item {
        padding: toRem(8) toRem(12);
      }
    }
  }
  //========================================================================================================================================================
  .text {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue('column-gap', 32, 20, 0, 1200, 390);
    row-gap: toRem(16);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      font-size: toRem(14);
    }
  }
  //========================================================================================================================================================
  .social {
    &__items {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: toRem(20);
    }
    &__link {
      svg {
        transition: stroke 0.4s;
        @media (min-width: $mobile) {
          width: toRem(18);
          height: toRem(18);
        }
        @media (max-width: $mobile) {
          width: toRem(24);
          height: toRem(24);
        }
        @media (any-hover: hover) {
          &:hover {
            stroke: var(--orange);
          }
        }
      }
    }
  }
}
