@import '@/styles/index.scss';

.files {
  grid-area: files;

  &__input {
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  &__text {
    @include adaptiveValue('font-size', 16, 13, 0, 1200, 390);
    color: var(--dark-grey);
    line-height: 150%;
  }
}
