@import '@/styles/index.scss';

.form {
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'firstName lastName'
    'dob phone'
    'country networks'
    'email email'
    'days days'
    'languages languages'
    'skills skills'
    'comment comment'
    'checkboxes checkboxes'
    'button button';
    column-gap: toRem(24);
    row-gap: toRem(44);
  }
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
  }
  

  &__email {
    grid-area: email;

  }

  &__button {
    grid-area: button;
    padding: toRem(24);
    background: var(--black);
    color: var(--total-white);
    @include adaptiveValue("border-radius", 12, 10, 0, 1200, 768);
    @media (min-width: $mobile) {
      max-width: toRem(282);
    }
    @media (max-width:$mobile){
      min-width: 100%;
    }

    &:disabled {
      background: var(--light-grey);
      color: var(--black);
    }

    &:hover {
      background: var(--light-black);
      color: var(--total-white);
    }
  }
}

