@import '@/styles/index.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;

  &__button {
    width: 17.625rem;
    border-radius: 0.75rem;
    padding: 1.5rem 0;

    @media (max-width: $mobileSmall) {
      width: 18rem;
    }

    @media (max-width: $mobile) {
      width: 100%;
    }

    &:disabled {
      background: var(--light-grey)
    }
  }
}

.projectList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.75rem;
  border-radius: 0.625rem;

  & > label {
    border-radius: 0;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    background: var(--total-white);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 15%;
      display: inline-block;
      width: 1px;
      height: 2.25rem;
      background: var(--black);
    }

    @include hideDecorativeLine;
  }

  @include formButtonsGridBasic(4);

  @media (max-width: $tablet) {
    @include formButtonsGridResponsive(3);
  }

  @media (max-width: $mobile) {
    @include formButtonsGridResponsive(2, $include-mobile: true);
  }
}