.input {
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid var(--black);
  background: var(--total-white);
  padding: 1.125rem 1.5rem;
  line-height: 150%;

  &::placeholder {
    color: var(--dark-grey);
  }
}