@import '../../styles/index';
.banners {
  :global {
    .container {
      @include adaptiveValue('gap', 24, 16, 0, 1200, 390);
      @include adaptiveValue('padding-top', 64, 36, 0, 1200, 390);
      @include adaptiveValue('padding-bottom', 56, 40, 0, 1200, 390);
      @media (min-width: $mobile) {
        display: grid;
      }
      @media (min-width: $tablet) {
        grid-template-columns: repeat(auto-fit, minmax(toRem(380), 1fr));
      }
      @media (max-width: $tablet) {
        grid-template-columns: repeat(auto-fit, minmax(toRem(310), 1fr));
      }
      @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
